@use "../utils/box-shadow.scss";
@use "../utils/zoom.scss";
@use "../utils/variables.scss";
@use "../utils/colors.scss";



.functioning {
    counter-reset: funcnum;
    & ol {
        display: flex;
        gap: 2rem;
        @media (max-width: 1000px) {
            flex-direction: column;
        }
    }
    & li {
        position: relative;
        &::before {
            counter-increment: funcnum;
            content: counter(funcnum);
            background-color: colors.$purple;
            width: 2.5 * variables.$circlefun-height;
            height: 2.5 * variables.$circlefun-height;
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute;
            bottom: variables.$circlefun-height;
            left: -1.3 * variables.$circlefun-height;
        }
        list-style-type: none;
        background-color: #f6f6f6;
        padding: 1.6rem 2rem;
        flex-grow: 1;
        border-radius: 1rem;
        @include box-shadow.base-shadow;
        &:hover {
            @include zoom.zoom;
        }
        & i.fas {
            margin-right: 0.8rem;
            color: colors.$lightgrey;
            font-size: 1.5rem;
        }
    }
}

