@use "../utils/variables.scss";

.menus {
    background-color: #f6f6f6;
    

    .menus__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        @media (max-width: variables.$breakpoint) {
        grid-template-columns: repeat(1, 1fr);
        }
    }

    .card {
        border: 1px solid black;
        &__img {
            background-size: cover;
            height: 15rem;
            border-radius: 1rem;
        }
        &__img1 {
            background-image: url("../../restaurants/img1.jpg");
        }
        &__img2 {
            background-image: url("../../restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
        }
        &__img3 {
            background-image: url("../../restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
        }
        &__img4 {
            background-image: url("../../restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
        }
    }
}

