@import "../utils/variables.scss";
@import "../utils/colors.scss";

.menus {
    background-color: #f6f6f6;
    margin-bottom: 2rem;
    

    .menus__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        @media (max-width: $breakpoint) {
        grid-template-columns: repeat(1, 1fr);
        }
        .new {
            position: relative;
        }
        .new::before {
            content: "Nouveau";
            position: absolute;
            height: 2rem;
            width: 5rem;
            display: grid;
            place-items: center;
            right: 1rem;
            top: 1rem;
            background-color: $tertiary;
            color: darken($tertiary, 50%);
        }
    }

    .card {
        &__img {
            height: 15rem;
            border-radius: 1rem 1rem 0 0;
            background-size: cover;
        }
        @for $i from 1 through 4 {
            &__img#{$i} {
                background-image: url("/restaurants/img#{$i}.jpg");
            }
        }
        &__name {
            position: relative;
            background-color: white;
            border-radius: 0 0 1rem 1rem;
            h3,
            p {
                padding: 0.3rem;
            }
            i {
                font-size: 2rem;
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

