@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0 0 0.5rem grey;
    padding: 0.3rem;
}

.titlehead {
    font-size: 2.2rem;
    margin: 0.5rem;
}

main .city {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #f3f3f3;
    text-align: center;
    padding: 0.5rem;
}

main .city i {
    font-size: 1.5rem;
}

/* EXPLORER */

.explorer {
    text-align: center;
}
.explorer h2 {
     font-size: 2rem;
     margin-top: 2rem;
}

.explorer p {
    font-size: 1rem;
}