.functioning {
    & ol {
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }
    & li {
    background-color: #f6f6f6;
    padding: 1rem 2rem;
    flex-grow: 1;
    }
}

