@import "../utils/variables.scss";
@import "../utils/colors.scss";

.pics img {
    display: block;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
}

.nameresto {
    margin-top: -2rem;
    h2 {
        font-family: "Shrikhand", "sans-serif";
        padding: 2rem 1rem;
        border-radius: 2rem 2rem 0 0;
        background-color: $lightergrey;
    }
}

.restos-menus {
    padding: 0 1rem;
    background-color: $lightergrey;
}

.menus-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    @media (max-width: $breakpoint) {
        grid-template-columns: 1fr;
    }
    & > * {
        border: 1 px solid red;
    }
}