@import "../utils/variables.scss";
@import "../utils/colors.scss";

.pics img {
    display: block;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
}

.nameresto {
    margin-top: -2rem;
    h2 {
        font-family: "Shrikhand", "sans-serif";
        padding: 2rem 1rem;
        border-radius: 2rem 2rem 0 0;
        background-color: $lightergrey;
    }
}

.restos-menus {
    padding: 0 1rem;
    background-color: $lightergrey;
}

.menus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    @media (max-width: $breakpoint) {
        grid-template-columns: 1fr;
    }
    .menus__cat {
        background-color: white;
        border-radius: 1rem;
        .menus-dish {
            display: flex;
            overflow: hidden;
            .menus-dish__price {
                margin-left: auto;
                font-weight: 900;
                padding: 1rem;
                display: flex;
                align-items: flex-end;
            }
            .menus-dish__description {
                padding: 1rem;
            }
            .menus-dish__check {
                background-color: $tertiary;
                margin-right: -3rem;
                width: 3rem;
            }
            &:hover .menus-dish__check {
                margin-right: 0%;
            }
        }
    }
}