@import "../utils/variables.scss";
@import "../utils/colors.scss";
@import "../utils/box-shadow.scss";
@import "../utils/anim.scss";

.pics img {
    display: block;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
}

.nameresto {
    margin-top: -2rem;
    h2 {
        font-family: "Shrikhand", "sans-serif";
        padding: 2rem 1rem;
        border-radius: 2rem 2rem 0 0;
        background-color: $lightergrey;
    }
}

.restos-menus {
    padding: 0 1rem;
    background-color: $lightergrey;
}

.menus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    @media (max-width: $breakpoint) {
        grid-template-columns: 1fr;
    }
    .menus__cat {
        background-color: white;
        overflow: hidden;
        .menus-dish {
            display: flex;
            border-radius: 1rem;
            overflow: hidden;
            @include box-shadow;
            .menus-dish__price {
                margin-left: auto;
                font-weight: 900;
                padding: 1rem;
                display: flex;
                align-items: flex-end;
            }
            .menus-dish__description {
                padding: 1rem;
                overflow: hidden;
                h4,
                p {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            .menus-dish__check {
                display: grid;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                background-color: $tertiary;
                border-radius: 0 1rem 1rem 0;
                margin-right: -4rem;
                width: 4rem;
                transition: margin-right 0.5s;
                i {
                    display: grid;
                    place-items: center;
                    background: white;
                    aspect-ratio: 1;
                    width: 2rem;
                    border-radius: 1rem;
                    color: $tertiary;
                }
            }
            &:hover {
                .menus-dish__check {
                margin-right: 0%;
                }
                i {
                    animation: spin 0.5s ease-in-out;
                }
            }
        }
    }
}